body{
    background: #ffeff2;
}
.hero{
    width: 100%;
    padding: 70px 0px;
    background: linear-gradient(45deg, red, blue);
    color: #fff;

}

.todo-title-wrapper{
    height: 50px;
}
.task-btn{
    background: linear-gradient(45deg, yellow, green);
    color: #fff;
}
.task-btn:hover{
    color: #fff;

}

/* .badge{
    width: 0px;

} */